body {
  background-color: #ededed;
}

header {
  text-align: center;
  font-family: "Spartan", sans-serif;
  font-size: 60px;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 1280px;
  background-color: #fff;
  margin: auto;
}

h1 {
  text-align: center;
  font-family: "Spartan", sans-serif;
  font-size: 20px;
  padding-bottom: 100px;
  padding-top: 30px;
  width: 1280px;
  background-color: #fff;
  margin: auto;
}

#container {
  box-sizing: border-box;
  width: 1280px;
  margin: auto;
  font-family: "Spartan", sans-serif;

  
  background-color: #fff;

}

#confirmationcontainer {
  box-sizing: border-box;
  width: 1280px;
  margin: auto;
  font-family: "Spartan", sans-serif;
  background-color: #fff;
  padding: 40px;
}
h2 {
  padding: 15px;
  text-align: center;
}

h3 {
  padding: 40px;
  text-align: center;
}

#productbox {
  margin: auto;
  width: 600px;
padding-left: 50px;
  display: inline-block;
  position: relative;
}

#cartbox {
  margin: auto;

  width: 600px;
  height: 800px;
  display: inline-block;
  position: relative;
  top: 0px;
}

#cart {
  background-image: url(/images/sea.jpg);
  height: 60px;
  width: 450px;

  position: fixed;
  right: 200px;

  border-radius: 5px;
  bottom: 0px;
  color: black;
  cursor: pointer;
}

#cart:hover {
  transition: ease 0.3s;
  filter: brightness(110%);
}

.product {
  border: 1px;
  height: 110px;
  margin-bottom: 80px;
}

#productinfo {
  display: inline-block;
  position: relative;
  bottom: 0px;
  height: 100px;
}

.product img {
  display: inline-block;
  bottom: 10px;
}

.productname {
  display: inline-block;
  font-weight: bold;
  position: relative;
  top: 5px;
}

.description {
  height: 60px;
  overflow: hidden;
  width: 470px;
  position: relative;
  top: 5px;
}

.price {
  position: relative;
  top: 13px;
}

.amount {
  display: inline;
  margin-left: 0px;
  position: relative;
  bottom: 5px;
  left: 335px;
}

.minusbtn {
  display: inline;
  position: relative;
  bottom: 7px;
  border-radius: 5px;
  background-color: #fff;
  border: 1px;
  color: darkgrey;
  border-color: darkgrey;
  border-style: solid;
  cursor: pointer;
  left: 330px;
}

.plusbtn {
  display: inline;
  position: relative;
  bottom: 7px;
  border-radius: 5px;
  background-color: #fff;
  border: 1px;
  color: darkgrey;
  border-color: darkgrey;
  border-style: solid;
  cursor: pointer;
  left: 340px;
}

#cart div {
  display: inline;
  position: relative;
  top: 22px;
  font-size: 17px;
}
#carttext {
  padding-left: 20px;
}
#sumtext {
  margin-left: 120px;
}
#sum {
  margin-left: 10px;
}

#cartexpanded {
  box-sizing: border-box;
  text-align: center;
  position: fixed;
  right: 200px;
  overflow: scroll;
  bottom: 60px;
  width: 450px;
  max-height: 800px;
  padding: 15px;
  border: 1px;
  border-style: solid;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 0px;
  background-color: white;
}

#cartexpanded::-webkit-scrollbar {
  display: none;
}



#cartexpanded button {
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  background-color: #fff;
  border: 1px;
  color: rgb(0, 0, 0);
  font-size: 16px;
  border-color: darkgrey;
  border-style: solid;
  cursor: pointer;
  font-family: "Spartan", sans-serif;
  padding: 10px;
  margin: 30px;
  left: 0;
  position: relative;
}

#print {
  border-radius: 5px;
  background-color: #fff;
  border: 1px;
  color: rgb(0, 0, 0);
  font-size: 16px;
  border-color: darkgrey;
  border-style: solid;
  cursor: pointer;
  font-family: "Spartan", sans-serif;
  padding: 10px;
  margin-top: 30px;
  margin-left: 70px;
}


#cartexpanded .amount {
    left: 0px;
}

#cartexpanded .description {
  height: 0px;
}

#cartexpanded .price {
    top: 0;

}

#cartexpanded #productinfo{
margin-bottom: 50px;

}

#cartexpanded .productname {
    top: 5px;
    
}

#cartexpanded .deletebtn{
background-color: rgb(255, 173, 173);
bottom: 7px;
}

#cartexpanded .deletebtn:hover{
  background-color: red;
  transition: ease-in 0.2s;
}
#cartexpanded .plusbtn:hover{
  background-color: rgb(193, 255, 193);
  transition: ease-in 0.2s;
}

#cartexpanded .minusbtn:hover{
  background-color: rgb(255, 173, 173);
  transition: ease-in 0.2s;
}

.priceinfo{
display: inline;
}

.price{
display: inline;
top: 0em;
}

#confirmationsum{
  display: inline;
}

#confirmationproducts ul{
  list-style: none;
}

#confirmationproducts li{
padding-left: 1.9em;
margin-top: 40px;
margin-bottom: 40px;
}

#confirmationproducts li::before{
  content: "\f14a";
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.9em;;
  width: 1.9em;
  color: rgb(109, 218, 0);

}

.confirmationinfo{
  margin-left: 70px;
}




